#showSearchText {
  visibility: hidden;
  margin-bottom: 5px;
  display: inline;
}

#searchIcon:hover #showSearchText {
  visibility: visible;
  display: block;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;

  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
  margin-top: 2px;
}
