#icon {
  position: relative;
  display: inline-flex;
  align-items: center;
}

#showText {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

#icon:hover #showText {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;

  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
  margin-top: 2px;
}

.navbar {
  display: flex;
  margin-left: auto;
  margin-left: auto;
  gap: 20px;
  padding: 15px;
  background: #fff;
}

.navbar a,
.dropdown-title {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.dropdown-menu a {
  padding: 10px;
  color: #1e293b;
}

.dropdown-menu a:hover {
  background: #f1f5f9;
}
